{
	"presets": [
		["env", {
			"targets": {
				"browsers": ["last 2 versions", "safari >= 7"]
			}
		}]
	],

	"plugins": [
        "babel-plugin-transform-runtime",
        "transform-decorators-legacy",
        "transform-flow-strip-types"
    ]
}