
// type

@font-face {
  font-family: 'liberation-sans';
  src: url('../fonts/liberationsans-regular-webfont.woff2') format('woff2'),
  url('../fonts/liberationsans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'liberation-mono';
  src: url('../fonts/liberationmono-regular-webfont.woff2') format('woff2'),
  url('../fonts/liberationmono-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



// mixins

// transition
@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

// animation
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }  
  @keyframes #{$animation-name} {
    @content;
  }
}
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

// flexbox
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}




// breakpoints

$large: 960px;
$medium: 790px;
$mobile: 490px;



// colors

$blokks-blue: #2E8CD2;
$blokks-pink: #C83A6F;
$blokks-yellow: #F6B411;
$blokks-green: #34C868;
$blokks-purple: #8C5DA5;
$blokks-grey: #ABB1BC;

$background-black: #282B2F;
$background-white: #E2E4E6;

$grey-dark-01: #696E75;
$grey-dark-02: #44494E;

$grey-light-01: #8A8F98;
$grey-light-02: #696E75;
$grey-light-03: #44494E;




// main

html {
  font-size: 62.5%;
  line-height: 1.4;
  ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: $blokks-grey;
  text-shadow: none;
}

body {
  margin: 0;
  background: $background-black;
  font-family: 'liberation-sans';
  color: #FFF;
  height: 4000px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: .05rem;
}

h1 {
  font-size: 3.4rem;
  font-weight: normal;
  line-height: 4.6rem;
  letter-spacing: .1rem;
  margin-bottom: 0px;
}

h2 {
  font-family: liberation-mono;
  color: $blokks-grey;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2.1rem;
  letter-spacing: 0rem;
  margin-bottom: 0px;
}

ul {
  list-style-type: square;
  font-family: liberation-mono;
  font-size: 1.5rem;
  line-height: 3.0rem;
  color: $blokks-grey;
  padding: 0;
  margin: 0;
  padding-left: 16px;
}
ul li {
  padding-left: 10px;
}






// navigation

.nav {
  position: fixed;
  top: 0px;
  width: 100%;
  font-family: 'liberation-mono';
  font-size: 1.3rem;
  color: $blokks-grey;
  height: 40px;
  z-index: 5;
}
.nav-logo {
  display: inline;
  margin-right:8px;
  width: 225px;
}

.nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav li {
  margin-left: 16px;
  display: inline;
}

.nav-left {
  position: relative;
  top: -16px;
  display: inline;
  @include transition(top .1s);
}
.nav-left-initial {
  top: -16px;
}
.nav-left-scrolled {
  top: -56px;
}

.nav-left a {
  color: $blokks-grey;
}
.nav-left a:hover {
  color: #fff;
}

.nav-right {
  float: right;
}
.nav-right a {
  color: #fff;
}
.signin {
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  position: relative;
}
.signin:hover {
  color: $blokks-green;
  border-bottom: 1px solid $blokks-green; 
}
.nav-right .signup {
  display: inline-block;
  background: $blokks-blue;
  padding: 12px 40px 10px 40px;
  @include transition(background-color .2s);
}
.nav-right .signup:hover {
  background: $blokks-green;
  @include transition(background-color 0s);
}

@media (max-width: $large) {
  .nav-left {
    display: none;
  }
}

@media (max-width: $mobile) {
  
  .nav {
    position: relative;
  }
  .nav-logo {
    display: none;
  }
  .signin {
    display: none;
  }
  .nav-right .signup {
    width: 100%;
    position: absolute;
    right:0px;
    padding: 17px 0px 17px 0px;
    text-align: center;
  }
}



// intro

.intro {
  height:100vh;
  text-align: center;
}
.intro-title {
  position: relative;
  top: 37%;
}
.intro-title img {
  position: relative;
}
.intro-logo {
  width: 360px;
  margin: 0 auto;
  cursor: crosshair;
}
.intro-title p {
  color: $blokks-grey;
  margin-top:12px;
  margin-bottom:30px;
}
.intro-title a {
  font-size: 1.5rem;
  font-family: liberation-mono;
  color: $blokks-green;
  border-bottom: 1px solid $blokks-green;
}
.intro-title a:hover {
  color: $blokks-blue;
  border-bottom: 1px solid $blokks-blue;
}

@media (max-width: $mobile) {
  .intro {
    height: calc(100vh - 53px);
    padding: 0 10px;
  }
  .intro-title {
    position: relative;
    top: 25%;
  }
  .intro-logo {
    width: 288px;
    margin: 0 auto;
  }
  .intro-title img {
    width: 48px;
  }
}



// intro logo animation

.intro-logo rect:nth-of-type(1) {
  @include animation('background1 1.25s steps(1) forwards infinite paused');
}
.intro-logo rect:nth-of-type(2) {
  @include animation('background2 1.25s steps(1) forwards infinite paused');
}
.intro-logo rect:nth-of-type(3) {
  @include animation('background3 1.25s steps(1) forwards infinite paused');
}
.intro-logo rect:nth-of-type(4) {
  @include animation('background4 1.25s steps(1) forwards infinite paused');
}
.intro-logo rect:nth-of-type(5) {
  @include animation('background5 1.25s steps(1) forwards infinite paused');
}
.intro-logo rect:nth-of-type(6) {
  @include animation('background6 1.25s steps(1) forwards infinite paused');
}

.intro-logo:hover rect {
  animation-play-state: running
}

@include keyframes(background1) {
  from,
    to { fill: $blokks-blue }
    17% { fill: $blokks-pink }
    34% { fill: $blokks-yellow }
    51% { fill: $blokks-green }
    68% { fill: $blokks-purple }
    85% { fill: $blokks-grey }
}

@include keyframes(background2) {
  from,
    to { fill: $blokks-pink }
    17% { fill: $blokks-yellow }
    34% { fill: $blokks-green }
    51% { fill: $blokks-purple }
    68% { fill: $blokks-grey }
    85% { fill: $blokks-blue }
}

@include keyframes(background3) {
  from,
    to { fill: $blokks-yellow }
    17% { fill: $blokks-green }
    34% { fill: $blokks-purple }
    51% { fill: $blokks-grey }
    68% { fill: $blokks-blue }
    85% { fill: $blokks-pink }
}

@include keyframes(background4) {
  from,
    to { fill: $blokks-green }
    17% { fill: $blokks-purple }
    34% { fill: $blokks-grey }
    51% { fill: $blokks-blue }
    68% { fill: $blokks-pink }
    85% { fill: $blokks-yellow }
}

@include keyframes(background5) {
  from,
    to { fill: $blokks-purple }
    17% { fill: $blokks-grey }
    34% { fill: $blokks-blue }
    51% { fill: $blokks-pink }
    68% { fill: $blokks-yellow }
    85% { fill: $blokks-green }
}

@include keyframes(background6) {
  from,
    to { fill: $blokks-grey }
    17% { fill: $blokks-blue }
    34% { fill: $blokks-pink }
    51% { fill: $blokks-yellow }
    68% { fill: $blokks-green }
    85% { fill: $blokks-purple }
}



// intro squares animation

.animation-square {
  position: absolute;
  width: 18%;
  height: 20vh;
  transition: all 1s;
  z-index: -4;
}
.animation-square svg {
  width: 100%;
}
.animation-square path {
  fill: none;
  stroke: $blokks-grey;
  stroke-width: 2;
  stroke-dasharray: 1, 20;
}

.animation-square-01 {
  top: 40%;
  left: -1%;
}
.animation-square-02 {
  top: 10%;
  left: 22%;
}
.animation-square-03 {
  top: 75%;
  left: 44%;
}
.animation-square-04 {
  top: 5%;
  left: 66%;
}
.animation-square-05 {
  top: 50%;
  left: 88%;
}

@media (max-width: $large) {
  .animation-square { width: 22%; }
  .animation-square-01 { left: -1%; }
  .animation-square-02 { left: 27%; }
  .animation-square-03 { left: 55%; }
  .animation-square-04 { left: 83%; }
  .animation-square-05 { display: none; }
}

@media (max-width: $medium) {
  .animation-square { width: 32%; }
  .animation-square-01 { left: -10%; top: -1%; }
  .animation-square-02 { left: 64%; top: 20%; }
  .animation-square-03 { display: none; }
  .animation-square-04 { display: none; }
  .animation-square-05 { display: none; }
}

// 0 - 50
.animation-square-05 svg {
  @include animation('square-05-svg 22s infinite');
}
.animation-square-05 path {
  @include animation('square-05-path 22s infinite');
}
@include keyframes(square-05-svg) {
  0% { height: 20vh; }
  8% { height: 30vh; }
  50% { height: 30vh; }
  55% { height: 20vh; }
  100% { height: 20vh; }
}
@include keyframes(square-05-path) {
  0% { stroke-dasharray: 1, 30; }
  8% { stroke-dasharray: 1, 20; }
  50% { stroke-dasharray: 1, 20; }
  55% { stroke-dasharray: 1, 30; }
  100% { stroke-dasharray: 1, 30; }
}

// 10 - 60
.animation-square-04 svg {
  @include animation('square-04-svg 22s infinite');
}
.animation-square-04 path {
  @include animation('square-04-path 22s infinite');
}
@include keyframes(square-04-svg) {
  0% { height: 40vh; }
  10% { height: 40vh; }
  18% { height: 20vh; }
  60% { height: 20vh; }
  65% { height: 40vh; }
  100% { height: 40vh; }
}
@include keyframes(square-04-path) {
  0% { stroke-dasharray: 1, 20; }
  10% { stroke-dasharray: 1, 20; }
  18% { stroke-dasharray: 1, 30; }
  60% { stroke-dasharray: 1, 30; }
  65% { stroke-dasharray: 1, 20; }
  100% { stroke-dasharray: 1, 20; }
}

// 20 - 70
.animation-square-01 svg {
  @include animation('square-01-svg 22s infinite');
}
.animation-square-01 path {
  @include animation('square-01-path 22s infinite');
}
@include keyframes(square-01-svg) {
  0% { height: 20vh; }
  20% { height: 20vh; }
  28% { height: 40vh; }
  70% { height: 40vh; }
  75% { height: 20vh; }
  100% { height: 20vh; }
}
@include keyframes(square-01-path) {
  0% { stroke-dasharray: 1, 20; }
  20% { stroke-dasharray: 1, 20; }
  28% { stroke-dasharray: 1, 30; }
  70% { stroke-dasharray: 1, 30; }
  75% { stroke-dasharray: 1, 20; }
  100% { stroke-dasharray: 1, 20; }
}

// 25 - 80
.animation-square-03 svg {
  @include animation('square-03-svg 22s infinite');
}
.animation-square-03 path {
  @include animation('square-03-path 22s infinite');
}
@include keyframes(square-03-svg) {
  0% { height: 40vh; }
  25% { height: 40vh; }
  33% { height: 20vh; }
  80% { height: 20vh; }
  85% { height: 40vh; }
  100% { height: 40vh; }
}
@include keyframes(square-03-path) {
  0% { stroke-dasharray: 1, 20; }
  25% { stroke-dasharray: 1, 20; }
  33% { stroke-dasharray: 1, 30; }
  80% { stroke-dasharray: 1, 30; }
  85% { stroke-dasharray: 1, 20; }
  100% { stroke-dasharray: 1, 20; }
}

// 45 - 90
.animation-square-02 svg { 
  @include animation('square-02-svg 22s infinite');
}
.animation-square-02 path {
  @include animation('square-02-path 22s infinite');
}
@include keyframes(square-02-svg) {
  0% { height: 20vh; }
  45% { height: 20vh; }
  53% { height: 40vh; }
  90% { height: 40vh; }
  95% { height: 20vh; }
  100% { height: 20vh; }
}
@include keyframes(square-02-path) {
  0% { stroke-dasharray: 1, 20; }
  45% { stroke-dasharray: 1, 20; }
  53% { stroke-dasharray: 1, 30; }
  90% { stroke-dasharray: 1, 30; }
  95% { stroke-dasharray: 1, 20; }
  100% { stroke-dasharray: 1, 20; }
}



// layout

.content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 150px 50px;
}
@media (max-width: $medium) {
  .content {
    padding: 100px 40px;
  }
}
@media (max-width: $mobile) {
  .content {
    padding: 80px 20px;
  }
}
.two-columns {
  @include flexbox();  
}
.column {
  flex-grow: 1;
}






// features

.features {
  border-top: 1px solid $grey-dark-02;
  background: $background-black;
}

.features .two-columns {
  align-items: flex-top;
}

.features a {
  font-family: liberation-mono;
  color: $grey-dark-01;
  font-size: 1.5rem;
  line-height: 1.5rem;
  border-bottom: 1px solid $grey-dark-02;
  margin-right: 20px;
  cursor: pointer;
  display: inline-block;
}
.features a:hover {
  border-bottom: 1px solid $grey-dark-01;
}
.features .link-active {
  color: #fff;
  border-bottom: 1px solid $grey-dark-01;
}

.features .feature-cms-slide {
  display: none;
}
.features .feature-embed-slide {
  display: none;
}
.features .feature-customize-slide {
  display: none;
}

.features .image-active {
  display: inline;
}

.features h1 {
  margin-top: 20px;
}
.features h2 {
  margin-bottom: 30px;
}
.features p {
  margin-top: 20px;
  color: $blokks-grey;
}
.features ul {
  margin-top: 30px;
}


// feature - CMS

.feature-cms-visual {
  max-width: 640px;
  padding-right: 80px;
}
.feature-cms-visual img {
  max-width: 100%;
  margin-bottom: 25px;
}

.feature-cms-text h2 {
  color: $blokks-blue;
}

.feature-cms-text {
  flex: 0 0 380px;
}

@media (max-width: $large) {
  .feature-cms-visual {
    max-width: 640px;
    padding-right: 50px;
  }
  .feature-cms-text {
    flex: 0 0 320px;
  }
}

@media (max-width: $medium) {
  .feature-cms-visual {
    padding-right: 0px;
  }
  .feature-cms-visual {
    margin-bottom: 30px;
  }
  .feature-cms .two-columns {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}



// feature - embed

.feature-embed-visual {
  max-width: 640px;
  padding-left: 80px;
}
.feature-embed-visual img {
  max-width: 100%;
  margin-bottom: 25px;
}

.feature-embed-text {
  flex: 0 0 380px;
}

.feature-embed h2 {
  color: $blokks-pink;
}

@media (max-width: $large) {
  .feature-embed-visual {
    max-width: 640px;
    padding-left: 50px;
  }
  .feature-embed-text {
    flex: 0 0 320px;
  }
}

@media (max-width: $medium) {
  .feature-embed-visual {
    padding-left: 0px;
  }
  .feature-embed-visual {
    margin-bottom: 30px;
  }
  .feature-embed .two-columns {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}


// feature - customize

.feature-customize-visual {
  max-width: 640px;
  padding-right: 80px;
}
.feature-customize-visual img {
  max-width: 100%;
  margin-bottom: 25px;
}

.feature-customize-text {
  flex: 0 0 380px;
}

.feature-customize h2 {
  color: $blokks-green;
}

.feature-customize .documentation {
  color: $blokks-blue;
  border-bottom: 1px solid $blokks-blue;
}
.feature-customize .documentation:hover {
  color: $blokks-green;
  border-bottom: 1px solid $blokks-green;
}

@media (max-width: $large) {
  .feature-customize-visual {
    max-width: 640px;
    padding-right: 50px;
  }
  .feature-customize-text {
    flex: 0 0 320px;
  }
}

@media (max-width: $medium) {
  .feature-customize-visual {
    padding-right: 0px;
  }
  .feature-customize-visual {
    margin-bottom: 30px;
  }
  .feature-customize .two-columns {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}


// examples

.examples {
  background: $blokks-grey;
}
.examples .content {
  text-align: center;
}
.examples h1 {
  margin-top: 20px;
}
.examples h2 {
  color: $background-black;
  margin-top: 0px;
}

.examples .examples-slide {
  display: none;
}

.examples .image-active {
  display: inline;
}

.examples-visual {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 60px;
}
.examples-visual img {
  max-width: 100%;
}

.examples-buttons {
  margin-top: 40px;
  @include flexbox();
  justify-content: center;
}

.examples-buttons .slide-link {
  flex-shrink: 1;
  width: 225px;
  position: relative;
}

.examples-button {
  position: relative;
  cursor: pointer;
  height: 100px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid $grey-light-01;
  z-index: 1;
}
.examples-button:hover {
  background-position: center -100px;
}
.examples .link-active .examples-button {
  background-position: center -200px;
  border: 0px;
}

.examples-button-01 {
  border-right: 0px;
  background: $blokks-grey url("../img/example-01-logo.png") center 0px;
  background-size: 225px 300px;
}
.examples-button-02 {
  border-right: 0px;
  background: $blokks-grey url("../img/example-02-logo.png") center 0px;
  background-size: 225px 300px;
}
.examples-button-03 {
  border-right: 0px;
  background: $blokks-grey url("../img/example-03-logo.png") center 0px;
  background-size: 225px 300px;
}
.examples-button-04 {
  background: $blokks-grey url("../img/example-04-logo.png") center 0px;
  background-size: 225px 300px;
}

.view-schedule {
  position: relative;
  display: inline;
  font-family: 'liberation-mono';
  color: $grey-light-03;
  border-bottom: 1px solid $grey-light-01;
  font-size: 1.3rem;
  top:-18px;
  z-index: 0;
  @include transition(top .2s);
}

.link-active .view-schedule {
  top:15px;
}

.view-schedule:hover {
  color: $blokks-purple;
  border-bottom: 1px solid $blokks-purple;
}


.examples-visual-mobile {
  display: none;
  font-size: 0;
}

.examples-mobile-images {
  margin-top: 60px;
}

.examples-visual-mobile img {
  width: 50%;
}

@media (max-width: $medium) {

  .examples-visual {
    display: none;
  }

  .examples-visual-mobile {
    display: inline;
  }

}

@media (max-width: $mobile) {

  .examples-visual-mobile img {
    width: 100%;
    max-width: 300px;
  }

}

// pricing

.pricing {
  background: $background-white;
}
.pricing .content {
  text-align: center;
}
.pricing h1 {
  margin-top: 20px;
  color: $background-black;
}
.pricing h2 {
  color: $grey-light-01;
  margin-top: 0px;
}
.pricing p {
  color: $background-black;
}
.pricing .note a {
  color: $blokks-blue;
  border-bottom: 1px solid $blokks-blue;
}
.pricing .note a:hover {
  color: $blokks-green;
  border-bottom: 1px solid $blokks-green;
}


.pricing .two-columns {
  margin-top: 60px;
  margin-bottom: 60px;
}
.pricing .column {
  text-align:left;
  width: 50%;
}

.pricing-left {
  border-left: 1px solid $blokks-grey;
  border-bottom: 1px solid $blokks-grey;
}
.pricing-right {
  border-left: 1px solid $blokks-grey;
  border-right: 1px solid $blokks-grey;
  border-bottom: 1px solid $blokks-grey;
}

.pricing-left .title {
  background: $blokks-blue;
}
.pricing-right .title {
  background: $blokks-grey;
}
.pricing .title {
  padding: 30px 40px 20px 40px;
}
.pricing .title h1 {
  color: #fff;
  margin-top: 5px;
}
.pricing .title h2 {
  color: #fff;
}


.pricing .details {
  padding: 40px;
  padding-right: 40px;
}
.pricing .details p {
  margin: 0;
  margin-bottom: 20px;
}
.pricing .details ul {
  line-height: 2.8rem;
  color: $background-black;
}
.pricing .details ul li {
  padding-bottom: 10px;
}
.pricing-left .details p {
  color: $blokks-blue;
}

@media (max-width: $medium) {
  .pricing .two-columns {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .pricing .column {
    width: 100%;
  }
  .pricing-left {
    border-right: 1px solid $blokks-grey;
  }
}

@media (max-width: $mobile) {
  .pricing .title {
    padding: 30px 25px 20px 25px;
  }
  .pricing .details {
    padding: 25px;
  }
  .pricing .note {
    text-align: left;
  }
  .pricing .two-columns {
    margin-bottom: 40px;
  }
}


// outro

.outro {
  height:100vh;
  text-align: center;
  background: url("../img/dots.gif");
  background-size: 667px 382px;
  position: relative;
}
.outro-text {
  position: relative;
  top: 37%;
}

.outro-text p {
  color: $blokks-grey;
  margin-top:12px;
  margin-bottom:30px;
}
.outro .signup {
  margin-top: 10px;
  font-size: 1.5rem;
  font-family: liberation-mono;
  color: #fff;
  display: inline-block;
  background: $blokks-blue;
  padding: 20px 120px 18px 120px;
  @include transition(background-color .2s);
}
.outro .signup:hover {
  background: $blokks-green;
  @include transition(background-color 0s);
}

.outro-mobile {
  display: none;
}

.outro-mobile .text {
  font-family: 'liberation-sans';
  letter-spacing: .05rem;
  font-size: 1.6rem;
  width: calc(100% - 60px);
  margin: 0 auto;
  display: block;
  background: #fff;
  padding: 12px 30px 12px 30px;
  color: $grey-dark-01;
}

.outro-mobile input {
  border: 0;
  font-family: 'liberation-mono';
  font-size: 1.5rem;
  line-height: 36px;
  background: $blokks-blue;
  color: #fff;
  width: calc(100%);
  padding: 12px 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius:0; 
  border-radius:0;
  margin:0;
}

.outro-mobile .submit {
  cursor: pointer;
  @include transition(background-color .2s);
}

.outro-mobile .submit:hover {
  background: $blokks-green;
  @include transition(background-color 0s);
}

::-webkit-input-placeholder {
  color: $blokks-grey;
}
:-ms-input-placeholder {
  color: $blokks-grey;
}
::-moz-placeholder {
  color: $blokks-grey;
  opacity: 1;
}
:-moz-placeholder {
  color: $blokks-grey;
  opacity: 1;
}

@media (max-width: $mobile) {

  .outro {
    height: auto;
    padding: 100px 20px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .outro-text {
    position: relative;
    top: 25%;
  }
  .outro-mobile {
    display: inline;
  }
  .outro-desktop {
    display: none;
  }
}

// footer

.nav-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-family: 'liberation-mono';
  font-size: 1.3rem;
  color: $blokks-grey;
  height: 30px;
  z-index: 5;
  text-align: left;
}

.nav-footer ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-footer li {
  margin-left: 16px;
  display: inline;
}

.nav-footer-left {
  position: relative;
  display: inline;
}

.nav-footer-left a {
  color: $blokks-grey;
}
.nav-footer-left a:hover {
  color: #fff;
}

.nav-footer-left .link-documentation {
  color: $blokks-blue;
}

b {
  font-weight: normal;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: .6rem;
}
.blokks-logo-mini {
  margin-left: 2px;
}
.blokks-logo-mini :nth-child(1) {
  color: $blokks-blue;
}
.blokks-logo-mini :nth-child(2) {
  color: $blokks-pink;
}
.blokks-logo-mini :nth-child(3) {
  color: $blokks-yellow;
}
.blokks-logo-mini :nth-child(4) {
  color: $blokks-green;
}
.blokks-logo-mini :nth-child(5) {
  color: $blokks-purple;
}
.blokks-logo-mini :nth-child(6) {
  color: $blokks-grey;
}

.nav-footer-right {
  float: right;
  color: $grey-dark-01;
  position: relative;
  right: 15px;
}
.nav-footer-right a {
  color: $grey-dark-01;
}
.nav-footer-right a:hover {
  color: #fff;
}

@media (max-width: $medium) {
  
  .nav-footer {
    text-align: center;
    bottom: 40px;
  }

  .nav-footer-right {
    float: none;
    top: 15px;
    right: 0px;
  }

  .nav-footer li {
    margin-left: 10px;
  }

}

@media (max-width: $mobile) {

  .blokks-logo-mini {
    display: block;
    margin-bottom: 20px;
  }

  .nav-footer {
    top: 70px;
    padding-bottom: 70px;
    position: relative;
  }

  .link-documentation {
    display: none;
  }

}


