.call-to-action {
    display: flex;
    position: relative;
    min-height: calc(100vh - 40px);

    @media (--small), (--default), (--wide) {
        padding: calc(150/1100*100%) calc(50/1100*100%);
    }

    @media (--widest) {
        padding: 150px 50px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: auto;
        max-width: 1100px;
    }

    &__title {
        @mixin title;
    }

    &__description {
        @mixin bodytext;
        text-align: center;
        color: var(--light-text-color);
        margin-top: 15px;
    }

    &__action-button {
        @mixin button;
        margin: 40px 0 0 0;
        padding: 22px 100px 20px 100px;
        background-color: var(--blue-color);
    }

    &__action-button:hover {
        background-color: var(--green-color);
    }


    &__animation {
        position: absolute 0 * * 0;
        size: 100%;
        z-index: -1;

        @media (--small), (--default) {
            display: none;
        }
    }

    &__animation svg:nth-of-type(1) {
        position: absolute 15% * * 5%;
        size: 25% 35%;
        animation: rotate-square-animation-01 45s linear infinite;
    }

    &__animation svg:nth-of-type(2) {
        position: absolute * * 0% 35%;
        size: 20% 35%;
        animation: rotate-square-animation-02 35s linear infinite;
    }

    &__animation svg:nth-of-type(3) {
        position: absolute * 0% 55% *;
        size: 35% 40%;
        animation: rotate-square-animation-01 55s linear infinite;
    }

    &__animation svg > path {
        fill: none;
        stroke: color(#fff alpha(0.6));
        stroke-width: 2;
        stroke-dasharray: 1, 15;
        vector-effect: non-scaling-stroke;
    }
}