.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 15px;
    height: 40px;

    &__links {
        display: flex;
        flex-direction: row;
    }

    &__links > li:not(:first-child) {
        margin-left: 25px;
    }

    &__link {
        @mixin navitem;
        display: inline-block;
    }

    &__link--home > i {
        letter-spacing: 6px;
        text-transform: uppercase;

        &:nth-child(1) { color: var(--blue-color); }
        &:nth-child(2) { color: var(--pink-color); }
        &:nth-child(3) { color: var(--yellow-color); }
        &:nth-child(4) { color: var(--green-color); }
        &:nth-child(5) { color: var(--purple-color); }
        &:nth-child(6) { color: var(--grey-color); }
    }

    &__link--terms {
        color: var(--dark-text-color);
    }

    &__copyright {
        @mixin legal;
        margin-left: 25px;
    }
}