.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    padding: 150px 50px;
    max-width: 1100px;
    min-height: 100vh;

    &__logo {
        size: 360px 60px;
    }

    &__title {
        @mixin title;
        margin-top: 30px;
    }

    &__subtitle {
        @mixin bodytext;
        color: var(--light-text-color);
        margin-top: 15px;
    }
}