.header {
    display: flex;
    position: relative;
    min-height: calc(100vh - 40px);

    @media (--default), (--wide), (--widest) {
        margin: 40px auto 0;
    }

    @media (--small), (--default), (--wide) {
        padding: calc(150/1100*100%) calc(50/1100*100%);
    }

    @media (--widest) {
        padding: 150px 50px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: auto;
        max-width: 1100px;
    }

    &__logo {
        width: 100%;
        max-width: 360px;
    }

    &__title {
        @mixin title;
        text-align: center;
        margin-top: 30px;
    }

    &__subtitle {
        @mixin bodytext;
        color: var(--light-text-color);
        text-align: center;
        margin-top: 15px;
    }

    &__continue-link {
        @mixin blokks-mono 1.5rem;
        color: var(--green-color);
        text-decoration: none;

        margin-top: 30px;
        border-bottom: 1px solid;
    }

    &__animation {
        position: absolute 0 * * 0;
        size: 100%;

        @media (--small), (--default) {
            display: none;
        }
    }

    &__animation svg:nth-of-type(1) {
        position: absolute 35% 75% * *;
        size: 15% 30%;
        animation: animation-01 15s infinite;
    }

    &__animation svg:nth-of-type(2) {
        position: absolute 5% * * 20%;
        size: 30% 20%;
        animation: animation-02 20s infinite;
    }

    &__animation svg:nth-of-type(3) {
        position: absolute * 50% -5% *;
        size: 20% 40%;
        animation: animation-03 25s infinite;
    }

    &__animation svg:nth-of-type(4) {
        position: absolute 5% * * 60%;
        size: 20%;
        animation: animation-04 18s infinite;
    }

    &__animation svg:nth-of-type(5) {
        position: absolute * 10% 15% *;
        size: 15% 20%;
        animation: animation-05 23s infinite;
    }

    &__animation svg > path {
        fill: none;
        stroke: color(#fff alpha(0.75));
        stroke-width: 1;
        stroke-dasharray: 1, 15;
        vector-effect: non-scaling-stroke;
    }
}