.navigation {
    display: flex;
    flex-direction: row;

    size: 100% 40px;
    min-width: 320px;
    backface-visibility: hidden;
    z-index: 2;

    @supports not (backdrop-filter: blur(4px)) {
        background-color: var(--default-background-color);
    }

    @supports (backdrop-filter: blur(4px)) {
        background-color: color(var(--default-background-color) alpha(85%));
        backdrop-filter: blur(4px)
    }

    @media (--default), (--wide), (--widest) {
        position: fixed 0 * * *;
    }

    &__logo {
        flex: none;
        size: 240px 40px;

        @media (--small) {
            display: none;
        }
    }

    &__links {
        @media (width < 60em) {
            display: none;
        }

        @media (width >= 60em) {
            display: flex;
            flex-direction: row;
            margin-left: 20px;
        }
    }

    &__links > li {
        flex: none;
    }

    &__links > li:not(:first-child) {
        margin-left: 25px;
    }

    &__account {
        display: flex;
        flex-direction: row;

        @media (--small) {
            width: 100%;
        }

        @media (--default), (--wide), (--widest) {
            margin-left: auto;
        }
    }

    &__link {
        @mixin navitem;
        display: inline-block;
        padding: 14px 0 0 0;
        height: 40px;
    }

    &__link--active {
        color: var(--lightest-text-color);
    }

    &__link--signin,
    &__link--try {
        padding: 14px 40px 0;
        flex: none;

        @media (--small) {
            text-align: center;
        }
    }

    &__link--try {
        color: var(--lightest-text-color);        
    }

    &__link--signin {
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-color: var(--default-stroke-color);

        @media (--small) {
            display: none;
        }
    }

    &__link--try {
        background-color: var(--blue-color);

        @media (--small) {
            width: 100%;
        }
    }

    &__link--try:hover {
        background-color: var(--green-color);
    }
}