.poster {
	position: relative;
	overflow: hidden;
    z-index: 1;

    @media (--small) {
        display: none;
    }
    
    @media (--default), (--wide) {
        padding: 0 calc(50/1100*100%);
    }

    @media (--widest) {
        padding: 0 50px;
    }        

    &:before {
    	display: block;
    	content: '';
    	padding-top: 46.875%;
    }

    &__image {
        position: absolute 0 * * 0;
        size: 100%;
        z-index: -1;
    	transition: 
            filter 600ms, 
            opacity 600ms;
    }

    &__image:not(.lazyloaded) {
    	opacity: 0.8;
    	filter: blur(4px);
    }

    &__credits {
        @mixin poster-credits;
        position: absolute * 20px 10px *;
    }
}