@import 'price-option';

.pricing {
    background-color: var(--lightest-background-color);

    @media (--small), (--default), (--wide) {
        padding: calc(200/1100*100%) calc(50/1100*100%);
    }

    @media (--widest) {
        padding: 200px 50px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 0 auto;
        max-width: 1100px;
    }

    &__title {
        @mixin title;
        color: var(--darkest-text-color);
        text-align: center;
    }

    &__subtitle {
        @mixin subtitle;
        margin-top: 15px;
        color: var(--dark-text-color);
        text-align: center;
    }

    &__vat {
        position: relative;
        top: -5px;
        font-size: 17px;
    }

    &__table {
        display: flex;
        margin-top: 60px;
        width: 100%;

        @media (--small), (--default) {
            flex-direction: column;
        }

        @media (--wide), (--widest) {
            flex-direction: row;
        }
    }

    &__footer {
        @mixin small-bodytext;
        color: var(--darkest-text-color);
        text-align: center;
        line-height: 2;
        margin-top: 60px;

        p {
            @media (--small), (--default){
                display: inline;
            }
        }
    }
}