.showcase {
    background-color: var(--light-background-color);

    @media (--small), (--default), (--wide) {
        padding: calc(150/1100*100%) calc(50/1100*100%);
    }

    @media (--widest) {
        padding: 150px 50px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 0 auto;
        max-width: 900px;
    }

    &__header {
        display: flex;
        flex-direction: column;
    }

    &__title {
        @mixin title;
        text-align: center;
        margin-top: 15px;
    }

    &__subtitle {
        @mixin subtitle;
        color: var(--darkest-text-color);
        text-align: center;
        order: -1;
    }

    &__slideshow {
        position: relative;
        width: 100%;
        margin: 60px 0 0 0;

        @media (--small) {
            display: none;
        }
    }

    &__slideshow:before {
        display: block;
        padding-top: 50%;
        content: '';
    }

    &__slide {
        position: absolute 0 * * 0;
        size: 100%;
    }

    &__slide-selector {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        width: 100%;

        @media (--small), (--default) {
            flex-wrap: wrap;
        }

        @media (--wide), (--widest) {
            flex-wrap: nowrap;
            justify-content: stretch;
        }
    }

    &__slide-selector > li {
        position: relative;
        z-index: 1;

        @media (--small), (--default) {
            width: 50%;
        }

        @media (--wide), (--widest) {
            width: 25%;
        }
    }

    &__slide-button {
        display: flex;
        padding: 0;
        width: 100%;

        background-color: var(--light-background-color);
        background-repeat: no-repeat, repeat;
        background-position: center;

        border: 1px solid #8A8F98;
        border-radius: 0;
        outline: none;
        cursor: pointer;

    }

    &__slide-button:before {
        display: block;
        content: '';
        padding-top: calc(200/376*100%);
    }

    &__slide-button span {
        @mixin text-replacement;
        margin: auto;
        background-size: 100%;
    }

    &__slide-selector > li:not(:first-of-type) &__slide-button {
        border-left: 0;
    }

    &__slide-button:not(&__slide-button--selected):hover span {
        background-position: center -100%;
    }

    &__slide-button--selected {
        border: none;
    }

    &__slide-button--selected span {
        background-position: center -200%;
    }

    &__website-link {
        @mixin blokks-mono 13px;
        text-decoration: none;
        text-align: center;
        color: #44494E;

        position: absolute * * 0 *;
        width: 100%;
        outline: none;
        z-index: -1;

        transition: transform 100ms;
    }

    &__website-link:hover {
        color: var(--purple-color);
    }

    &__slide-button--selected + &__website-link {
        transform: translateY(30px);
    }
}